@import "variables";

html, body {
  margin: 0;
  padding: 0;
  background: $base-gray;
  min-height: 100%;
}

header {
  background: black;
  font-size: 1.2rem;
  color: white;
  margin: 0;

  .wrapper {
    max-width: 1250px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin: 0;
      padding: 1rem;
    }

    nav a {
      color: white;
      text-decoration: none;
      display: inline-block;
      padding: .5rem;
      position: relative;
      &:hover, &:focus, &:active {
        color: yellow;
      }
      &:hover:after {
        display: block;
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid yellow;
      }
    }
  }
}

.container {
  background: white;
  padding: 1rem;
  width: 80%;
  margin: 1rem auto;
  border-radius: .3rem;
  box-shadow: $shadow;
}

%alert {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
  border-radius: .5rem;
}

.alert {
  @extend %alert;
}

.alert-danger {
  @extend %alert;
  background: indianred;
  color: white;
}